a{
    color: inherit;
    text-decoration: none;
}
body{
    font-family: 'Nanum Gothic', sans-serif;
}

/* 모바일 메뉴 */
#mobile1{
    display: flex;
}
#header{
    justify-content: space-between;
    width: 100%;
    position: relative;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}
.toplogo{
    position: absolute;
    top: 1px;
}
.m_menu{
    margin-top: 20px;
    font-size: 40px;
    font-weight: 300;
    cursor: pointer;
    top: 0;
}
.m_menu li{
    background-color: #213B38;
    border: 1px solid #213B38;
    margin-bottom: 10px;
    width: 30px;
}
#mo_menu_area{
    position: fixed;
    background-color: white;
    width: 100%;
    height: 100%;
    font-size: 20px;
    top: 0;
    left: -120%;
    transition: all .2s ease-in-out;
    z-index: 1000;
}
#mo_menu_area.active{
    left: 0;
}
.mo_menu_header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 15px 0;
    border-bottom: 1px solid rgb(235, 235, 235);
    width: 100%;
}
.icon-cancel{
    cursor: pointer;
    margin-right: 20px;
    font-size: 25px;
}
.mo_menu_list{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.main_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 15px;
}
.main_header h2{
    font-size: 1.1em;
}
.menu_drop{
    position: relative;
    width: 44px;
    cursor: pointer;
}
.minus{
    content: "";
    display: inline-block;
    width: 20px;
    height: 2px;
    position: absolute;
    top: 45%;
    left: 22%;
    background-color: rgb(53, 53, 53);
    opacity: 1;
}
.plus{
    content: "";
    display: inline-block;
    width: 2px;
    height: 20px;
    position: absolute;
    top: 15%;
    left: 43%;
    background-color: rgb(53, 53, 53);
    transition: all .2s ease-in;
}
.main_header.on .icon-drop::after{
    transform: rotate(180deg);
    opacity: 0;
}
.mo_menu_list>.mo_sub_list>ul{
    padding: 5px 0 10px 20px;
    box-sizing: border-box;
    background-color: rgba(251, 236, 231, 0.6);
    font-size: 0.8em;
    display: none;
    padding: 10px 0;
}
.mo_sub_list{
    border-bottom: 1px solid rgb(235, 235, 235);
    text-align: left;
    font-size: 0.9em;
    font-weight: 600;
}
.sublist li{
    margin: 15px 20px;
}

/* pc메뉴 */
#pc_header{
    display: none;
    width: 90%;
    margin: 20px auto;
}
.pc_header{
    display: flex;
    justify-content: space-between;
}
.top_logo{
    margin-top: 10px;
}
#main_menu{
    width: 70%;
    text-align: right;
}
.info_menu{
    margin: 0 auto;
    width: 100%;
    font-size: 0.6em;
}
.info_menu li{
    display: inline-block;
    width: 8%;
    text-align: center;
}
.info_menu li:nth-child(4){
        width: 13%;
}
.main_menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
}
.main_menu h2{
    font-weight: 600;
    font-size: 1.4em;
    margin-bottom: 10px;
}
.menulist{
    width: 13.8%;
    padding-top: 20px;
    position: relative;
}
.submenu{
    padding: 15px 0;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 72px;
    left: -19px;
    z-index: 120;
    width: 130%;
}
.submenu li{
    margin: 7px 0;
    font-weight: 100;
    font-size: 0.8em;
    font-weight: 600;
}
.submenu li:hover{
    color: #14534c;
}

/* 메인비주얼 */
#main_visual{
    margin-top: 10px;
    width: 100%;
    height:76vh;
    overflow: hidden;
}
#main_visual .swiper-container{
    width: 100%;
    height: 100%;
}
#main_visual .swiper-container .swiper-wrapper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
#main_visual .swiper-container .swiper-wrapper .vis1{
    width:100%;
    height: 76vh;
    position: relative;
    background-color:#213b38;
    background-image: url(../images/main_visual2.png);
    background-repeat: no-repeat;
    background-size: 76%;
    background-position: center top;
}
#main_visual .swiper-container .swiper-wrapper .vis2{
    width:100%;
    height: 76vh;
    position: relative;
    background-color:#213b38;
    background-image: url(../images/mo_visual2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}
#main_visual .swiper-container .swiper-wrapper .vis3{
    width:100%;
    height: 76vh;
    position: relative;
    background-color:#213b38;
    background-image: url(../images/mo_visual3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}
#main_visual .swiper-container .swiper-wrapper .main_vis_text{
    width: 80%;
    margin: 0 auto;
    position: relative;
    bottom:-28%;
    color:white;
    text-align: center;
    position: relative;
}
#main_visual .swiper-container .swiper-wrapper .main_vis_text h3{
    font-size: 40px;
    font-family: 'Marcellus', serif;
}
.text p{
    margin: 8px 0 28px 0;
}
.more_btn{
    font-size: 1.2em;
    border: 1px solid white;
    border-radius: 7px;
    padding: 7px 100px;
}
.summer_ed{
    display: none;
}
.text2{
    text-align: left;
    font-size: 1.7em;
    margin: 150px 0 0 50px;
    line-height: 45px;
    font-family: 'Marcellus', serif;
}
.text2 span{
    font-size: 1.3em;
    font-weight: 600;
}
.visu_logo{
    width: 70%;
    position: absolute;
    top: -80px;
    left: 0;
    display: none;
}
.text3{
    font-size: 1.4em;
    color: black;
    position: absolute;
    bottom: -120px;
}
.con .swiper-pagination-bullet{
    background-color: rgb(251, 236, 231);
    width: 13px;
    height: 13px;
    border-radius: 50px;
}

/* thank콘텐츠 */
#thank_contents{
    position: relative;
    margin: 15% 0;

}
.thank_img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:90vw;
}
.thank_txt{
    background-color: rgb(251, 236, 231);
    padding: 30px 0;
    width: 100%;
    height: 40vw;
}
.thank_txt h2{
    width: 80%;
    font-size: 1.5em;
    font-weight: 600;
    position: absolute;
    left: 10%;
    font-family: 'Marcellus', serif;

}
.thank_txt p{
    text-align: right;
    width: 85%;
    float: right;
    font-size: 1.2em;
    position: absolute;
    bottom: 6%;
}

/* recent product 콘텐츠 */
#recent{
    text-align: center;
    margin-top: 15%;
    width: 80%;
    margin: 0 auto;
}
.recent h2{
    color: #213B38;
    font-size: 1.5em;
    font-weight: 600;
    font-family: 'Marcellus', serif;
}
.recent p{
    color: #213B38;
    font-size: 1em;
    margin: 4px 0 20px 0;
}
.recent_list{
    display: inline-block;
    width: 42%;
    margin: 2%;
    color: #213B38;
    vertical-align: top;
}
.recent_img{
    border: 2px solid rgb(251, 236, 231);
}
.recent_name h3{
    font-size: 1em;
    font-weight: 800;
    padding: 10px 0 5px 0;
    height: 50px;
}

/* 룩북 */
#lookbook{
    text-align: center;
    margin-top: 15%;
}
.lookbook_img{
    background-color: #213B38;
    padding-top: 2%;
    width: 100%;
    height: 95vw;
}
.lookbook_img li{
    display: inline-block;
    width: 46%;
    height: 44vw;
    margin: 1%;
    overflow: hidden;
}
.lookbook_txt{
    background-color: rgb(251, 236, 231);
    text-align: left;
    padding: 12% 20%;
    color: #213B38;
}
.lookbook_txt h2{
    color: #213B38;
    font-size: 1.5em;
    font-weight: 600;
    font-family: 'Marcellus', serif;
}
.lookbook_txt p{
    border-bottom: 1px solid #213B38;
    padding-bottom: 40px;
    color: #213B38;
    font-size: 1em;
    margin: 4px 0 50px 0;
}
.lookbook_btn{
    display: inline;
    color: white;
    background-color: #213B38;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 6px;
    padding: 10px 20px;
}
.lookbook_btn:hover{
    border: 2px solid #213B38;
    background-color: rgb(251, 236, 231);
    color: #213B38;
}

/* 컬렉션 */
#collection{
    text-align: center;
    margin-top: 15%;
}
.collection h2{
    color: #213B38;
    font-size: 1.5em;
    font-weight: 600;
    font-family: 'Marcellus', serif;
}
.collection p{
    color: #213B38;
    font-size: 1em;
    margin: 4px 0 30px 0;
}
.collection_imgbox{
    position: relative;
}
.collection_bg{
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.collection_imgbox:hover .collection_bg{
    opacity: 1;

}

/* sns */
#con2 .swiper-container {
    margin-top: 30px;
    width: 100%;
    height: 100%;
}
#con2 .swiper-container .swiper-wrapper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 30%;
    height: 30vw;
    overflow: hidden;
}
#con2 .swiper-container .swiper-wrapper .swiper-slide img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
  }
#con2 .swiper-container .swiper-wrapper .swiper-slide img:hover{
      transform: scale(1.2);
  }
#con2{
    text-align: center;
    margin-top: 15%;
    background-color: rgb(251, 236, 231);
    padding-top: 30px;
    width: 100%;
    height: 40vh;
    position: relative;
}
#con2 h2{
    color: #213B38;
    font-size: 1.5em;
    font-weight: 600;
    font-family: 'Marcellus', serif;
}
#con2 p{
    color: #213B38;
    font-size: 1em;
    margin: 6px 0 0 0;
}
#sns_icon{
    position: absolute;
    bottom: 5%;
    width: 100%;
    z-index: 999;
}
.sns_icon li{
    display: inline-block;
    margin: 0 10px;
    overflow: hidden;
}
.sns_icon img{
    width: 90%;
}
.sns_icon img:hover{
    transform:rotate(15deg) ;
}

/* 탑버튼 */
div.top{
    position: fixed;
    bottom: 50px;
    right: 70px;
    cursor: pointer;
    z-index: 99999;
}
/* 푸터 */
footer{
    border: 1px solid #213B38;
    margin-top: 15%;
    background-color: #213B38;
    color: white;
}
#pc_footer{
    display: none;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.foot_menu{
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
    border-bottom: 1px solid white;
}
.add{
    font-size: 0.7em;
    margin-top: 10px;
    width: 50%;
}
.add p{
    margin-bottom: 5px;
}
.copy{
    margin: 10px;
    padding-bottom: 10px;
    font-size: 0.7em;
}
#form{
    width: 187px;
    height: 50px;
    padding: 10px;
    margin-top: 10px;
    font-weight: 700;
    font-size: 1em;
}
.store{
    display: flex;
    border: 1px solid white;
    width: 185px;
    margin-top: 20px;
}
.store a{
    display: flex;
}
.store li:nth-child(2){
    text-align: center;
    padding-top: 4px;
}
.store img{
    width: 45px;
    margin: 5px 5px 0 5px;
}
.store_txt{
    text-align: center;
    margin-left: 5px;
}
.store h4{
    font-size: 1.1em;
    font-weight: 600;
}
.store p{
    font-size: 0.7em;
}