@media screen and (min-width:540px){
    #main_visual .swiper-container .swiper-wrapper .vis1{
        background-size: 64%;
    } 
    
}
@media screen and (min-width:620px){
    #main_visual .swiper-container .swiper-wrapper .vis1{
        background-size: 56%;
    }
    #main_visual .swiper-container .swiper-wrapper .main_vis_text{
        bottom:-25%;
    }
    #con2 .swiper-container .swiper-wrapper .swiper-slide{
        margin-top: 20px;
      }
      #con2{
          text-align: center;
          margin-top: 15%;
          background-color: rgb(251, 236, 231);
          padding-top: 30px;
          width: 100%;
          height: 50vh;
          position: relative;
        }
        #sns_icon{
            position: absolute;
            bottom: 7%;
            width: 100%;
            z-index: 999;
        }
        .sns_icon li{
            display: inline-block;
            margin: 0 10px;
            overflow: hidden;
        }
        .store_txt{
            margin-left: 6px;
        }
}
@media screen and (min-width:700px){
    #main_visual .swiper-container .swiper-wrapper .vis1{
        background-size: 50%;
    }
}
@media screen and (min-width:768px) {
    #main_visual .swiper-container .swiper-wrapper .vis1{
        position: relative;
        background-size: 50%;
        background-position: left center;
    }
    #main_visual .swiper-container .swiper-wrapper .vis2{
        width:100%;
        height: 76vh;
        position: relative;
        background-color:#213b38;
        background-image: url(../images/main_visual2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
    }
    #main_visual .swiper-container .swiper-wrapper .vis3{
        width:100%;
        height: 76vh;
        position: relative;
        background-color:#213b38;
        background-image: url(../images/main_visual3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
    }
    #main_visual .swiper-container .swiper-wrapper .main_vis_text{
        width: 90%;
        margin: 0 auto;
        position: relative;
        top: 0;
        text-align: right;
    }
    #main_visual .swiper-container .swiper-wrapper .main_vis_text h3{
        font-size: 40px;
    }
    .text p{
        margin: 30px 0 45px 0;
        font-size: 1.2em;
    }
    .more_btn{
        font-size: 1.3em;
        padding: 12px 50px;
    }
    .summer_ed{
        display: block;
        width: 40%;
        margin-top: 50px;
    }
    .text2{
        font-size: 2.3em;
        padding-bottom: 100px;
        line-height: 70px;
    }
    .text2 span{
        font-size: 1.3em;
        font-weight: 600;
    }
    .visu_logo{
        width: 90%;
        display: block;
        top: 150px;
        left: 30px;
    }
    .text3{
        font-size: 1.8em;
        color: black;
        text-align: center;
    }
    .thank_img{
        width: 45%;
        height:45vw;
        margin: 5%;
    }
    .thank_txt{
        margin: 10%;
        padding: 30px 20px;
        width: 45%;
        height: 23vw;
        position: absolute;
        top: -20px;
        right: -5%;
    }
    .thank_txt h2{
        font-size: 1.4em;
    }
    .thank_txt p{
        position: absolute;
        bottom: 15%;
        font-size: 1em;
    }
    .recent h2{
        font-size: 1.7em;
        font-weight: 600;
    }
    .recent p{
        font-size: 1em;
        margin: 4px 0 30px 0;
    }
    .recent_list{
        display: inline-block;
        vertical-align: top;
        width: 22%;
        margin: 1%;
    }
    .recent_name h3{
        font-size: 14px;
        font-weight: 800;
        height: 50px;
        margin-top: 5px;
    }
    .recent_name h6{
        font-size: 0.9em;
    }
    .lookbook{
        display: flex;
    }
    .lookbook_img{
        padding-top: 1%;
        width: 51%;
        height: 48vw;
    }
    .lookbook_img li{
        display: inline-block;
        width: 46%;
        height: 22vw;
        margin: 1%;
        overflow: hidden;
    }
    .lookbook_txt{
        text-align: left;
        padding: 0;
        width: 49%;
        height: 49vw;
    }
    .lookbook_txt h2{
        font-size: 1.7em;
        font-weight: 600;
        margin: 30% 0 0 15%;
    }
    .lookbook_txt p{
        padding-bottom: 40px;
        width: 70%;
        font-size: 1em;
        margin: 4px 0 50px 15%;
        display: inline-block;
    }
    .lookbook_btn{
        margin-left: 15%;
    }
    .collection h2{
        font-size: 1.7em;
        font-weight: 600;
    }
    .collection p{
        font-size: 1.1em;
        margin-bottom: 40px;
    }
    .collection_img li{
        width: 32%;
        display: inline-block;
    }
    .collection_img li:nth-child(2){
        margin: 0 0.6%;
    }
    #con2{
        width: 100%;
        height: 60vw;
    }    
    #sns_icon{
        position: absolute;
        bottom: 8%;
    }
    footer{
        margin-top: 15%;
        background-color: #213B38;
        color: white;
    }
    #m_footer{
        padding: 10px;
        width: 80%;
        margin: 0 auto;
    }
    .footer{
        display: flex;
        justify-content: space-between;
    }
    .foot_menu{
        display: flex;
        justify-content: space-between;
        padding: 15px 10px;
        border-bottom: 1px solid white;
    }
    #form{
        width: 232px;
        height: 55px;
        padding: 10px;
        margin-top: 10px;
    }
    .store{
        display: flex;
        padding-top: 4px;
        border: 1px solid white;
        width: 230px;
        margin-top: 20px;
    }
    .store li:nth-child(2){
        text-align: center;
        padding-top: 4px;
        margin-left: 10px;
    }
    .store img{
        width: 45px;
        margin-left: 15px;
    }
    .store h4{
        font-size: 1.1em;
        font-weight: 600;
    }
    .store p{
        font-size: 0.8em;
    }
}
@media screen and (min-width:1024px){
    #main_visual .swiper-container .swiper-wrapper .vis1{
        background-size: 40%;
        background-position: 10% center;
    }
    #main_visual .swiper-container .swiper-wrapper .main_vis_text{
        width: 80%;
    }
    #main_visual .swiper-container .swiper-wrapper .main_vis_text h3{
        font-size: 50px;
    }
    .text p{
        font-size: 1.4em;
    }
    .thank_txt h2{
        font-size: 1.6em;
    }
    .thank_txt p{
        font-size: 1.4em;
    }
    .recent_list{
        position: relative;
        overflow: hidden;
    }
    .recent_name{
        width: 200%;
        height: 130px;
        border-top-left-radius: 100%;
        border-top-right-radius: 100%;
        background-color: #213b38ce;
        color: white;
        position: absolute;
        bottom: -170px;
        left: -50%;
        padding-top: 30px;
        transition: all 0.3s ease-in-out;
    }
    .recent_list:hover .recent_name{
        transform: translateY(-150px);
    }
    .recent_name h3{
        font-size: 14px;
        font-weight: 800;
        height: 30px;
        margin-bottom: 30px;
        padding: 0;
    }
    .recent_name h3, .recent_name h6{
        padding-left: 15px;
    }
    .lookbook_btn:hover{
        border: 2px solid #447570;
        background-color: rgb(251, 236, 231);
        color: #213B38;
    }
    #con2{
        height:40vw;
    }
    #con2 .swiper-container .swiper-wrapper .swiper-slide {
        width: 19%;
        height: 18vw;
        margin: 0 0.5%;
    }
    .top{
        position: fixed;
        bottom: 30px;
        right: 40px;
    }
    #m_footer{
        display: none;
    }
    #pc_footer{
        display: block;
        width: 80%;
        margin: 0 auto;
    }
    .footer{
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }
    .foot_menu{
        padding: 30px 20px;
        border-bottom: 1px solid white;
        font-size: 1.3em;
        font-weight: 600;
    }
    .add{
        font-size: 0.9em;
        margin-top: 10px;
        margin-left: -10px;
        width: 60%;
    }
    .copy{
        margin-top: 20px;
        font-size: 1em;
        margin-left: -1px;
    }
    #form{
        width: 232px;
        height: 55px;
        padding: 20px;
        margin-top: 10px;
    }
    .store{
        width: 230px;
    }
    .store a{
        display: flex;
    }
    .store_txt{
        margin-left: 15px;
    }
    .store h4{
        font-size: 1.1em;
        font-weight: 600;
        margin-top: -4px;
    }
    .store p{
        font-size: 0.8em;
    }
}
@media screen and (min-width:1124px){
    #mobile1{
        display: none;
    }
    #pc_header{
        display: block;
    }
    .top img{
        width: 100%;
    }
    
}
@media screen and (min-width:1400px){
    .info_menu{
        font-size: 1.2em;
    }
    .submenu{
        font-size: 1.2em;
    }
    #main_visual .swiper-container .swiper-wrapper .vis1{
        background-size: 30%;
        background-position: 20% center;
    }
    #main_visual .swiper-container .swiper-wrapper .main_vis_text{
        width: 70%;
    }
    #main_visual .swiper-container .swiper-wrapper .main_vis_text{
        width: 70%;
    }
    #main_visual .swiper-container .swiper-wrapper .main_vis_text h3{
        font-size: 70px;
    }
    .text p{
        margin: 50px 0 65px 0;
        font-size: 1.7em;
        line-height: 50px;
    }
    .more_btn{
        font-size: 1.7em;
    }
    .summer_ed{
        width: 65%;
        margin-top:30px;
    }
    .text2{
        font-size: 2.9em;
        position: absolute;
        top: -400px;
        left: -40px;
        line-height: 80px;
    }    
    .text2 span{
        font-size: 1.6em;
    }
    .visu_logo{
        width: 90%;
        top: 150px;
        left: 30px;
    }
    .text3{
        font-size: 2.1em;
    }
    .thank_txt h2{
        font-size: 2.4em;
    }
    .thank_txt p{
        font-size: 1.6em;
    }
    .recent h2{
        font-size: 2.3em;
    }
    .recent p{
        font-size: 1.7em;
    }
    .recent_name h3{
        font-size: 1em;
    }
    .lookbook_txt h2{
        font-size: 2.3em;
    }
    .lookbook_txt p{
        padding-bottom: 100px;
        margin-bottom: 100px;
        font-size: 1.7em;
    }
    .lookbook_btn{
        font-size: 1.5em;
        margin-left: 15%;
        padding: 14px 40px;
    }
    .collection h2{
        font-size: 2.3em;
    }
    .collection p{
        font-size: 1.7em;
    }
    #con2{
        padding-top: 60px;
    }
    #con2 h2{
        font-size: 2.3em;
    }
    #con2 p{
        font-size: 1.7em;
        margin: 6px 0 60px 0;
    }
    .sns_icon{
        position: absolute;
        bottom: 9%;
        width: 100%;
    }   
    .sns_icon li{
        margin: 0 30px;
    }
    .sns_icon img{
        width: 100%;
    }
    .foot_menu{
        padding: 30px 30px;
        border-bottom: 1px solid white;
        font-size: 1.4em;
        font-weight: 600;
    }
    .add{
        font-size: 1.1em;
        margin-top: 10px;
        width: 60%;
    }
    .copy{
        margin-top: 20px;
        font-size: 1.1em;
    }
    #form{
        width: 272px;
        height: 60px;
        padding: 20px;
        margin-top: 10px;
    }
    .store{
        width: 270px;
        height: 60px;
    }
    .store img{
        margin: 6px 0 0 20px;
    }
    .store h4{
        font-size: 1.3em;
        margin-top: -5px;
    }
    .store p{
        font-size: 1em;
    }
}