ul.cnt_menu{
    width: 90%;
}
div.cnt01_img{
    width: 90%;
    height: 60vw;
}
div.cnt01_img  div.cnt01_thumbnail{
    width: calc(100% / 8 * 2);
    height: 100%;
}
div.thumbnail_box{
    width: 97%;
    height:19vw;
}
div.cnt01_box{
    width: 90%;
    margin: 0 auto;
}
div.imggallery{
    width: calc(100% / 8 * 5.86);
    height: 100% - 6px;
}
div.imggallery>img{
    width: 100%;
    height: 100%;
    margin-top: 0;
}
div.cnt01_img div.cnt01_thumbnail img.thumbnail{
    width: 100%;
    height: 100%;
}
.box:hover{
    opacity: 0;
}
div.cnt01_txt h2{
    font-size: 19px;
}
div.cnt01_txt>p{
    border: 0;
}
div.cnt01_line{
    border-top: 2px solid #213b38;
    margin-top: -50px;
    margin-bottom: 50px;
}
div.cnt01_btn>.btn1{
    width: calc(100% / 8 * 2.4);
    height: 8vw;
    font-size: 16px;
}
div.cnt01_btn>.btn2{
    width: calc(100% / 8 * 2.4);
    height: 8vw;
    font-size: 16px;
    border: 2px solid #213b38;
}
div.cnt01_info p{
    font-size: 11px;
}
section.cnt02{
    width: 100%;
    height: 100%;
    margin-bottom: 0;
}
div.cnt02_img{
    display: none;
}
div.cnt02_img2{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 100%;
    height: 50vw;
}
div.cnt02_txt{
    width: 100%;
    height: 50vw;
    position : inherit;
    margin-top: -50vw;
}
div.cnt02_txt>p{
    margin-top: 13%;
    font-size: 17px;
    line-height: 33px;
    padding-right: 20px;
}
div.cnt02_txt>h4{
    font-size: 21px;
    font-weight: 600;
    margin-top: 5vw;
    padding-right: 20px;
}
ul.cnt03_box li:nth-child(1){
    top: 16%;
}
div.cnt03_txt .txt1{
    font-size: 17px;
    top: 35px;
}
div.cnt03_txt .txt2{
    top: 26%;
    font-size:19px;
    line-height: 26px;
}
div.cnt03_txt>img{
    width: 15%;
}
section.info{
    margin: 0 auto;
    margin-top: 70px;
}
div.info_name h3{
    font-size: 20px;
    padding-left: 10px;
}
div.info_name h5{
    font-size: 15px;
    padding-right: 10px;
}
div.info_txt .txt_name{
    font-size: 14px;
    width: calc(100% / 8 * 2);
    padding-left: 10px;
}
div.info_txt .text li{
    margin-bottom: 15.5px;
}
div.info_txt .text{
    font-size: 11.4px;
    width: calc(100% / 8 * 5);
    text-align: justify;
    padding-right: 10px;
}
div.rev div h6{
    width: calc(100% / 8 * 5);
    max-width: 1024px;
    font-size: 14px;
    padding-left: 10px;
}
div.rev div p{
    padding-right: 10px;
    color: #b5b5b5;
    margin-top: 10px;
    font-size: 12px;
}
.answer{
    font-size: 11px;
    margin: -10px 0 10px 10px;
    font-weight: 600;
    color: #b4b4b4;
}
div.qna_txt h6{
    width: calc(100% / 8 * 5);
    max-width: 1024px;
    font-size: 14px;
    padding-left: 10px;
}
div.qna_txt p{
    padding-right: 10px;
    color: #b5b5b5;
    margin-top: -1px;
    font-size: 12px;
}
section.recommend{
    margin-bottom: 50px;
}
div.recom_img{
    width: calc(100% / 6 - 12px);
    overflow: visible;
    position: inherit;
    border: 0px solid #faece6; 
}
div.recom_img>img{
    border: 3px solid #faece6;
}
div.recom_img>p{
    font-size: 13px;
    font-weight: 400;
    margin-top: 0;
    font-weight: 500;
    position:inherit;
    width: 100%;
    height: 50px;
    background-color: initial;
    border-radius: 0;
    padding-top: 0;
    color: black;
}
div.recom_img:hover p{
    transform: translateY(0);
}
.re_odd{
    margin-top: 30px;
}
/* 탑버튼 */
div.top_btn{
    width: 50px;
    height: 50px;
}
@media screen and (max-width:600px){
    div.cnt01_txt h5{
        font-size: 13px;
    }
    div.cnt01_txt h2{
        font-size: 15px;
    }
    div.cnt01_txt>ul>li:nth-child(odd){
        font-size: 13px;
    }
    div.cnt01_txt>ul>li:nth-child(even){
        font-size: 12px;
    }
    div.cnt01_txt>p{
        font-size: 14px;
    }
    div.recom_img>p{
        font-size: 10px;
    }
    div.cnt01_btn>.btn1{
        width: calc(100% / 8 * 3);
        height: 9vw;
    }
    div.cnt01_btn>.btn2{
        width: calc(100% / 8 * 3);
        height: 9vw;
    }
    div.cnt02_txt>p{
        margin-top: 10%;
        font-size: 13px;
    }
    div.cnt02_txt>h4{
        font-size: 16px;
    }
    section.info{
        margin-top: 40px;
    }
    div.info_name h3{
        font-size: 16px;
    }
    div.info_name h5{
        font-size: 13px;
    }
    div.info_txt .txt_name{
        font-size: 12px;
    }
    div.info_txt .text{
        font-size: 10.5px;
        width: calc(100% / 8 * 5);
        text-align: justify;
        padding-right: 10px;
    }
    div.info_txt .text li{
        margin-bottom: 14px;
    }
    div.rev div h6{
        font-size: 12px;
    }
    div.rev div p{
        font-size: 10.5px;
    }
    .answer{
        font-size: 11px;
        margin: -10px 0 10px 10px;
        font-weight: 600;
        color: #b4b4b4;
    }
    div.qna_txt h6{
        font-size: 12px;
    }
    div.qna_txt p{
        font-size: 10.5px;
    }
    section.recommend{
        margin-top: 80px;
    }
    section.recommend h2{
        font-size: 26px;
    }
    div.recommend_img{
        margin-top: 40px;
    }
    div.btns{
        margin-top: -155px;
        font-size: 32px;
    }    
}