div.mn_bg{
    height: 36vw;
}
div.mn_txt h2{
    margin-top: 14%;
    font-size: 28px;
    margin-left: 30%;
}
div.mn_txt p{
    display: none;
}
.pro_list li{
    width: 49%;
}
div.cnt{
    display: block;
    margin: 0 auto;
    width: calc(100% / 4 * 3.8);
}
div.cnt_sub{
    display: none;
}
div.cnt01 .cnt_menu li{
    font-size: 14px;
}
section.product{
    width: 100%;
}
.pro_list li{
    margin-bottom: 30px;
}
.pro_list li h3{
    font-size: 3.5vw;
}
.pro_list li p{
    font-size: 3vw;
}
.page_num li{
    font-size: 15px;
    margin: 0 10px;
    margin-bottom: 40px;
}
