a{
    color: inherit;
    text-decoration: none;
}
body{
    font-family: 'Nanum Gothic', sans-serif;
}
section.mn_v{
    width: 85%;
    margin: 0 auto;
    position: relative;
}
div.mn_bg{
    background-image: url(../images/sub2_mn.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 28vw;
}
div.mn_txt{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 30px;
}
div.mn_txt h2{
    font-size: 2.8vw;
    font-weight: 600;
    margin-top: 8%;
    margin-left: 32%;
}
div.mn_txt p{
    font-size: 1.1vw;
    text-align: left;
    margin-top: 6%;
    margin-left: 32%;
    line-height: 35px;
}
div.cnt{
    display: flex;
    width: 85%;
    margin: 0 auto;
}
section.submenu{
    width: calc(100% / 12 * 3);
}
div.sub_menu{
    display: inline-block;
    position: sticky;
    top: 0;
    width: calc(100% / 12 * 12);
    height: 50%;
    padding-left: 3%;
}
div.sub_menu h2{
    font-size: 2vw;
    font-weight: 600;
    margin: 20px 0 5% 0;
}
.menu_list li{
    font-size: 0.9vw;
    margin-bottom: 4%;
    padding-left: 5px;
}
.menu_list li>a{
    cursor: no-drop;
}
.menu_list li>a:hover{
    text-decoration: underline;
}
section.product{
    width: calc(100% / 12 * 9);
    text-align: center;
}
div.cnt01{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 10px 0;
}
div.cnt01 .cnt_menu li{
    display: inline-block;
    margin-right: 5px;
    line-height: 50px;
}
div.cnt01 select{
    width: calc(100% / 12 * 1.8);
    height: 30px;
    margin: 10px 0;
    vertical-align: middle;
    text-align: center;
    font-size: 13px;
    font-weight: 600;;
}
.pro_list li{
    display: inline-block;
    width: 32.8%;
    margin-bottom: 80px;
    text-align: center;
}
.pro_list li h3{
    margin-top: 35px;
    font-weight: 800;
    font-size: 1.15vw;
}
.pro_list li p{
    margin-top: 12px;
    font-size: 0.9vw;
}
div.list_img{
    position: relative;
    overflow: hidden;
    border: 3px solid #faece6;
    margin-bottom: 20px;
    cursor: no-drop;
}
div.listimg{
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
div.listimg>img{
    width: 100%;
    transition: all 0.3s ease-in-out;
}
div.icon_box{
    width: 100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
div.list_img>div.icon_box>img{
    cursor: no-drop;
}
div.list_img:hover div.icon_box{
    opacity: 1;
}
div.list_img:hover div.listimg>img{
    transform: scale(1.3);
}
div.icon_box>img{
    background-color: white;
    border-radius: 100%;
    width: 10%;
    padding: 5px;
    margin: 0 12px;
    margin-top: 80%;
    cursor: pointer;
}
.page_num li{
    font-size: 1.2vw;
    display: inline-block;
    margin: 0 13px;
    margin-bottom: 50px;
}
.page_num li a{
    cursor: no-drop;
}
.num:hover{
    text-decoration: underline;
}
/* 탑버튼 */
div.top_btn{
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    z-index: 99999;
}
.top{
    width: 100%;
}

@media screen and (max-width:1200px){
    div.mn_txt h2 {
        margin-top: 6%;
    }
    div.sub_menu h2{
        font-size: 2.2vw;
        margin: 25px 0 7% 0;
    }
    .menu_list{
        width: 110%;
    }
    div.mn_txt p{
        font-size: 1.2vw;
        margin-top: 5%;
        line-height: 28px;
    }
    .menu_list li{
        font-size: 1.2vw;
        margin-bottom: 5%;
    }
    div.cnt01{
        width: 98%;
    }
    div.cnt01 .cnt_menu li{
        font-size: 14px;
    }
    div.cnt01 select{
        width: calc(100% / 12 * 2.5);
    }
    .pro_list li{
        width: 32%;
        margin-bottom: 50px;
    }
    .pro_list li h3{
        margin-top: 20px;
    }
}